body {
    background-color: #222831;
    margin: 0;
    color: #EEEEEE;
}

h1 {
    
}

#wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#calculator-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #EEEEEE;
    border-radius: 12px;

    border: 2px solid #00ADB5;
    width: 300px;
    height: 600px;
    padding: 20px;
}

#display {
    color: #EEEEEE;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border: 2px solid #00ADB5;
    background-color: #393E46;
    font-size: 28px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 5px;

    width: 286px;
    height: 56px;
}

.top-row {
    display: flex;
    justify-content: space-between;
}

.calc-row {
    display: flex;
    flex-direction: row;
    width: 300px;
    margin: 5px;

    justify-content: space-evenly;
}

button {
    color: #EEEEEE;
    background-color: #393E46;
    font-size: 22px;
    border-radius: 12px;
    height: 60px;
    width: 60px;
}

#clear, #backspace {
    width: 110px;
}

.operator-button {

}

.number-button {

}