title {
    color: white;
}

body {
    background-color: black;
}

#wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#calculator-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #03A062;
    border-radius: 12px;
    padding: 25px;
}

.calc-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-evenly;
}

#display {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border: 2px solid;
    width: 240px;
    height: 60px;
    background-color: white;
    font-size: 28px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 5px;
}

/* buttons */
.number-button, .operator-button, #equals, #decimal { 
    font-size: 36px;
    width: 50px;
    height: 50px;
}

#clear, #backspace{
    font-size: 28px;
    width: 100px;
    height: 50px;
}

button {
    border-radius: 12px;
    margin: 5px;
}